

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matrimonial</title>
    <link rel="stylesheet" href="{% static 'matrimonial/css/home1.css' %}">
</head>
<body>
    <div class="box">
        <div class="item1">sadhi.com</div>
        <div class="item2">
            <div class="u-item1">
                <div>registration</div>
                <div>payment</div>
            </div>
            <div class="u-item2">
                <div>login</div>
                <div>password</div>
            </div>
        </div>
        
    </div>
       
        
        <div class="content">
            <!-- <img src="{% static 'img/s8.jpg' %}" alt=""> -->
            <div class="cont">
                <div class="cont1">find your <br> perfect match</div>
                <div class="cont2">
                    <form action="">
                        <label for="look">i am looking for:</label>
                        <label for="age">age : </label>
                        <input type="number"> to <input type="number">
                        <label for="religion">any religion</label>

                        <input type="radio" name="religion">
                        <label for="hindu">hindu</label>

                        <input type="radio" name="religion">
                        <label for="muslim">muslim</label>

                        <input type="radio" name="religion">
                        <label for="punjabi">punjabi</label>
                    
                        <label for="photo">with photo</label>

                        <button>search <br>now</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="main-container">

                <div class="container1">
                    <span class="sp1">online now </span> 
                    <span class="sp2">/</span> 
                    <span class="sp3">recent login member</span>
                </div>
                <div class="container2">

                    <div class="column">
                        <img class="img" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column">
                        <img class="img" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column">
                        <img class="img" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column">
                        <img class="img" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column">
                        <img class="img" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                </div>

                <div class="container3">
                    <span class="sp4">brides</span>
                    <span class="sp5">/</span>
                    <span class="sp6">future brides profile</span>
                </div>

                <div class="container4">
                    <div class="column1">
                        <img class="img1" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column1">
                        <img class="img1" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column1">
                        <img class="img1" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column1">
                        <img class="img1" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                    <div class="column1">
                        <img class="img1" src="{% static 'img/img1.jpg' %}" alt="">
                    </div>
                </div>

        </div>

        <div class="main-container1">
            <div class="under-main-container1">
                <span>paid membership benefits</span>
            </div>
            <div class="under-main-container2">
                
            </div>
        </div>


        <div class="item footer"></div>
    
</body>
</html>