<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'ownshop/restudent/css/manu.css' %}">
    <link rel="stylesheet" href="{% static 'ownshop/restudent/css/home.css' %}">


</head>
<body>
    <div class="navbar">
           
        <img src="{% static 'restudent/logo1.png' %}" alt="" class="logo">

        <!-- list -->
        <ul>
            <li><a href="{% url 'ownshopin' pk data  %}"><i class="fa fa-home">Home</i></a></li>
            <li><a href="{% url 'manu' pk data %}"><i class="fa fa-home">Manu1</i></a></li>
            <li><a href=""><i class="fa fa-home">gallery</i></a></li>
            <li><a href=""><i class="fa fa-home">Service</i></a></li>
            <li><a href=""><i class="fa fa-home">contect</i></a></li>
            <li><a href=""><i class="fa fa-home">{{k.product}}</i></a></li>
        </ul>
    </div>
    <div id="search-wrapper">
        <i class="search-icon fa fa-search"></i>
        <input type="text" id="search" placeholder="Search your Food">
        <button id="search-button">Search</button>
    </div>
    
 
    <div class="manucontainer">
        <div class="manutitle">
            <h1>Food <span>Manu</span></h1>
        </div>
        <div class="unserline"></div>
        <div class="manucontent">
            <div class="list">
                <li>All</li>
                <li>Breakfast</li>
                <li>lunch</li>
                <li>Dinner</li>
            </div>
            <div class="box-flex">
                
                {% for i in k %}
    
                <div class="box">
                    <div class="box-img">
                        <img src="{{i.product_image.url}}" alt="">
                    </div>
                    <div class="text">
                        <h3>{{i.product}}</h3>
                        <hr>
                        <section>${{i.price}}</section>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 

    </div> 
      <a href="{%url 'addmanuitems' %}" class="addmanu">+</a>
</body>
</html>