<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'news/css/home.css' %}">
    <title>Document</title>
</head>
<body>
 
    <h1>this is heading {{i}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla rem, eos ea fugiat eaque minus necessitatibus illo suscipit! Veritatis ratione quis fugit beatae quod et repellat voluptates tempore sint nostrum libero atque accusamus sed deserunt eveniet facilis asperiores placeat velit dolorem porro, aspernatur maxime consequatur cum amet. Consequuntur accusantium nisi itaque in dolorum, doloremque voluptatibus nobis error sapiente vitae quas asperiores nihil, saepe distinctio repellat! Quia animi beatae quisquam vero quae veniam, dolorum unde amet ipsam repudiandae aut excepturi maiores soluta sequi natus iste laudantium, quaerat et explicabo ipsum, provident cum earum ea nihil? Quidem corporis accusantium tenetur autem.</p>
 
    <h1>this is heading {{i}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla rem, eos ea fugiat eaque minus necessitatibus illo suscipit! Veritatis ratione quis fugit beatae quod et repellat voluptates tempore sint nostrum libero atque accusamus sed deserunt eveniet facilis asperiores placeat velit dolorem porro, aspernatur maxime consequatur cum amet. Consequuntur accusantium nisi itaque in dolorum, doloremque voluptatibus nobis error sapiente vitae quas asperiores nihil, saepe distinctio repellat! Quia animi beatae quisquam vero quae veniam, dolorum unde amet ipsam repudiandae aut excepturi maiores soluta sequi natus iste laudantium, quaerat et explicabo ipsum, provident cum earum ea nihil? Quidem corporis accusantium tenetur autem.</p>
 
    <h1>this is heading {{i}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla rem, eos ea fugiat eaque minus necessitatibus illo suscipit! Veritatis ratione quis fugit beatae quod et repellat voluptates tempore sint nostrum libero atque accusamus sed deserunt eveniet facilis asperiores placeat velit dolorem porro, aspernatur maxime consequatur cum amet. Consequuntur accusantium nisi itaque in dolorum, doloremque voluptatibus nobis error sapiente vitae quas asperiores nihil, saepe distinctio repellat! Quia animi beatae quisquam vero quae veniam, dolorum unde amet ipsam repudiandae aut excepturi maiores soluta sequi natus iste laudantium, quaerat et explicabo ipsum, provident cum earum ea nihil? Quidem corporis accusantium tenetur autem.</p>
   
</body>
</html>