.main1{
    width: 450px;
    border: 03px solid blueviolet;
    padding: 08px;
    border-radius: 30px;
    
    
}
.main1 i{
    margin-left: 20%;
}
input{
    
    border: 0px;
    outline: 0px;
    width: 300px;
   font-size: 18px;
   
   
}
::placeholder{
    color:black;
}
.main{
    padding-top: 3%;
}
.arrivals h1{
    padding-top:6%;
}
.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    border-radius: 30px;
    padding: 05px;
    
}