<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'parlour/css/home1.css' %}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">Beauty</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">PARLOUR</a></li>
                    <li><a href="#">MENU</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">BOOKING</a></li>
                    <li><a href="#">REVIEW</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="type to text">
                <a href="#"><button class="btn">search</button></a>
            </div>
        </div>
        <div class="slider">

                <div class="images">
                    <div class="child"><img class="child-img" src="{% static 'img/s8.jpg' %}" alt="img1" >
                        <div class="banner-text">
                            <h4>look awsome</h4>
                        </div>
                    </div>
                    <div class="child"><img class="child-img" src="p2.jfif" alt="img2" class="m2"></div>
                    <div class="child"> <img class="child-img" src="p3.jfif" alt="img3" class="m3"></div>
                    <div class="child"><img class="child-img" src="p4.jfif" alt="img4" class="m4"></div>
                    <div class="child"><img class="child-img" src="p1.jfif" alt="img5" class="m5"></div>
                    
                    
                   
                    
                    
                </div>
        </div>
        <div class="parlour">
            <h1>Top Parlour</h1>
            <h1>view all</h1>
            
        </div>
        
               
                <div class="grid">
                    <div>
                   <img src="s1.jfif" alt="" class="img">
                   <h1 class="s1">pinki's makeover</h1>
                </div>
                   <img src="sjpg" alt="" class="img">
                   <img src="s3.jfif" alt="" class="img">
                   <img src="s5.jfif" alt="" class="img">
                   <img src="s6.jfif" alt="" class="img">
                   <img src="s7.jfif" alt="" class="img">
                   <img src="s1.jfif" alt="" class="img">
                   <img src="s2.jfif" alt="" class="img">
                   <img src="s3.jfif" alt="" class="img">
                   <img src="s5.jfif" alt="" class="img">
                </div>
                

        
            
        
    </div>
</body>
</html>