<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'ownshop/css/addshop.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'ownshop/css/addproduct.css' %}"> -->

</head>
<body>
    <h1>add shop</h1>
    <div class="hero">
        <form action="" method="post">
        {% csrf_token %}
        {% for fm in form %}
        <div class="input-group">
            <span class="labelfield">{{fm.label_tag}}</span><br><br>
            <span class="inputfield">{{fm}}</span>
        </div>
         <br>
        {% endfor %}
        {{catagory}}
        <button type="submit">submit</button>
    </form>
    </div>
</body>
</html>