<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ownshop/css/nameofshop.css' %}">

    <title>Document</title>
</head>
<body>
    <a href="{% url 'allin' %}" class="web"><h1 >Aioham shop</h1></a>
    <h1 class="type">name of the shop</h1>
    <div class="home">
        
        {% for i in shopname %}
            <a href="{% url 'ownshopin' i.id k %}"><div class="box">{{i.shop_name}}</div></a>
            {% if i.img %}
                <img src="{{i.img.url}}" alt=>
            {% endif %}
        {% endfor %}
        
        
    </div>
    <h1>ra{{pk}}</h1>
    <a href="{%url 'addshop' pk %}" class="addmanu">+</a>
</body>
</html>