<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is profile1</h1>
    
    <h1>{{profile1.user.username}}</h1>
    <!-- <img src="{{profile1.profile.img.url}}" alt="abra"> -->
    <img src="{{profile1.user.profile.img.url}}" alt="" srcset="" height="1000vh" width="1900vw">
    
</body>
</html>