{% extends "socialblog/home1.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'socialblog/css/newpost.css' %}">
{% endblock css %}

{% block content %}
<div class="middle">
    <div class="postmiddel">
            <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for fm in form %}
        <!-- <h3 class="heading">{{fm.label_tag}}</h3> -->
        {{fm}} <br>
        
        {% endfor %}
        <br>
        
        <button type="submit" class="btn btn-primary postsubmit">SUBMIT</button>
    </form>
    </div>

</div>
    
{% endblock content %}

{% block Right %}

{% endblock Right %}
