<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'all/css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="first">
            <div class="logo">
                <a href="{% url 'allin' %}"><h1>Aioham</h1></a> </div>
            <div class="logo-right">
                <a href="{% url 'profile' %}">
                    {% if user.profile.img %}
                    <img src="{{user.profile.img.url}}" alt="alt">
                    {% endif %}
                </a>
            </div>
        </div>
        <!--                  search bar          -->
        
            <div class="second">
                <form action="" method="post" class="search-bar" novalidate>
                    {% csrf_token %}
                    <!-- <input type="search" name="s
                    " id="" placeholder="type to search"> -->
                    {{form}}
                    <button type="submit"><img src="{% static 'img/search (2).png' %}" alt=""></button>
                </form>
            </div>
        <!--       end of search bar   -->

        <div class="middel"></div>
        <div class="row">
            <div class="box" ><a  href="{% url 'socialblog' %}">social</a></div>
            <div class="box"><a href="{% url 'homein' %}">Book</a></div>
            
            <div class="box"><a href="{% url 'typeofshop' %}">OwnShop</a></div>

            <div class="box"><a href="{% url 'parlourhome' %}">Parlour</a></div>
            
            
            <div class="box"><a href="{% url 'matrimonial1' %}">matrimonial</a></div>
            <div class="box"><a href="{% url 'educationHome' %}">Education</a></div>
            <div class="box"><a href="{% url 'homemovie' %}">movie bazar</a></div>
            <div class="box"><a href="{% url 'news1' %}">news</a></div>
            <!-- <div class="box"><a href="{% url 'online_transport1' %}">transport booking</a></div> -->
            <!-- <div class="box"><a href="{% url 'conversation' %}">conversation</a></div> -->
            <div class="box"><a href="{% url 'signup' %}">registration</a></div>
        </div>
    </div>
    
    
    
    
    
    
    
</body>
</html>